/* Font settings */
h1 {
  font-family: bree, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
}

h2 {
  font-family: bree, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
}

h3 {
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
}

p {
  font-family: proxima-nova, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
}

/* Flex settings */
.display-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-space {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.slide {
  background-size: cover;
}

/* Slide backgrounds */
#slide-1 {
  background-image: url("../images/sa-05.jpg");
}

#slide-2 {
  background-image: url("../images/pm-00.jpg");
}

#slide-3 {
  background-image: url("../images/sa-11.jpg");
}

#slide-4 {
  background-image: url("../images/sa-00.jpeg");
}

#slide-5 {
  background-image: url("../images/sa-03.jpeg");
}

#slide-6 {
  background-image: url("../images/hmc-03.jpg");
}

.container-1 {
  background-color: rgba(119, 15, 41, 0.904);
  max-width: 60%;
  max-height: 40%;
  margin: 0 auto;
  padding: 60px 0px;
  color: white;
  text-align: center;
}

.container-1 > h1,
.container-1 > h2 {
  margin: 20px;
}

.container-2 {
  background-color: rgba(103, 49, 105, 0.904);
  max-width: 80%;
  max-height: 60%;
  margin: 0 auto;
  padding: 60px 0px;
  color: white;
}

#cont-2-inner {
  padding: 0px 20px;
  padding-bottom: 30px;
}

#sg-intro {
  padding: 20px;
}

#hm-portrait {
  max-width: 30%;
  max-height: 30%;
  padding: 20px;
}
